[Unit]
Description=MySQLBix Agent
After=network.target
 
[Service]
Type=simple
ExecStart=/etc/init.d/mysqlbix start
ExecStop=/etc/init.d/mysqlbix stop
User=root
Group=root
 
[Install]
WantedBy=multi-user.target