[Unit]
Description=MySQLBix Agent
After=network.target
 
[Service]
Type=simple
ExecStart=/usr/bin/java -Duser.language=en -Duser.country=US -Dlog4j.configuration=/opt/mysqlbix/conf/log4j.properties -jar /opt/mysqlbix/mysqlbix-1.1.0.jar  /opt/mysqlbix/conf/config.props
ExecStop=/usr/bin/kill `ps -ef | grep java | grep mysqlbix | awk '{ print $2}'`
User=root
Group=root
 
[Install]
WantedBy=multi-user.target